.tooltip-container {
  position: relative;
  display: inline-block;
}

.description-text {
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: pre-wrap; /* Preserves line breaks */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}